<header data-ng-include="'templates/loginHeader.html'" class="navbar-fixed-top"></header>
<div class="shift">
<h1>Welcome <span id="uName"><i class="text-success">{{vm.userName}}</i></span> </h1>
<h4>{{vm.greet}}</h4>

<button class="btn btn-success" ng-click="vm.showForm()">Start a discussion!</button> <br/><br/>

      <div uib-alert class="alert alert-danger"  close="vm.closeOne()" ng-if="vm.err" >
            You can either check discussions or start one here!
      </div>
      <div uib-alert class="alert alert-success"  close="vm.closeAlert()" ng-if="vm.bool" >
          The email has been sent successfully
    </div>
<div ng-init="vm.getData()">
   

       <div  class="animate msgs  p-3 mb-2 bg-secondary" ng-repeat="(key,value) in  vm.discussion | orderBy:'value.time':true"> 
            <h3 class="msgHead p-3 mb-2 bg-success">  <span>{{value.userName}}</span> </h3>
       
          <div><h4 class="msgFirstHead p-3 mb-2 bg-warning"><div class="msgCenter"> <strong>On: </strong><span>{{value.topic}}</span> <span class="msgButtons"><strong>at:</strong><span>{{value.time |date : "MM/dd/yy : hh:mm:ss"}}</span></span> </h4>
            <h5> <span>Says:</span> <br/>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<span>{{value.discussion}}</span> <br/> </h5></div>
       
            <div </div> <hr/>
        <div class="msgButtons"><button class="btn btn-primary" ng-click="vm.reply(value.userName,value.topic)">Respond</button> &nbsp; &nbsp; &nbsp;<button class="btn btn-success" ng-click="vm.email(value.userName,value.topic, value.email)">Email</button></div>
       
       </div>
    
   
</table>
</div>