@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "sass/asset-pipeline";

@import "sass/variables";

@import "sass/colors";

@import "sass/header";
@import "sass/footer";
@import "sass/home";
@import "sass/responsive";
@import "sass/_redirect";
@import "sass/_login";
@import "sass/_doc";
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family:"NHG-W01-55-Txt";
  margin-bottom: 90px;

  .container {
    padding: 20px 15px 0;
  }
}
.body-content {
  margin-top: 10px;
}

.font-container > .row {
  line-height:200%;
}
.container .text-muted {
  margin: 20px 0;
}
.container-fluid {
  max-width: 1690px;
}
.shift{
  margin-top:100px;
}
.shiftDown{
  margin-top:200px;
}
.angular-google-map-container { height: 400px; }