@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "sass/asset-pipeline";

@import "sass/variables";

@import "sass/colors";

@import "sass/header";
@import "sass/footer";
@import "sass/home";
@import "sass/responsive";
@import "sass/_redirect";
@import "sass/_login";
@import "sass/_doc";
@import "sass/_animate";
@import "sass/_animateDiss";
@import "sass/_animatePrev";
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family:"NHG-W01-55-Txt";
  margin-bottom: 90px;
 background-image: url("http://hdflowerwallpaper.com/wallpaper/2015/10/gray-and-white-flower-wallpaper-16-cool-hd-wallpaper.jpg");


  .container {
    padding: 20px 15px 0;
  }
}
.body-content {
  margin-top: 10px;
}

.font-container > .row {
  line-height:200%;
}
.container .text-muted {
  margin: 20px 0;
}
.container-fluid {
  max-width: 1690px;
}
.shift{
  margin-top:100px;
  background-color: #ffffff;
  
  opacity: 0.9;
  
}
.shiftDown{
  margin-top:200px;
}
.angular-google-map-container { height: 400px; }
input.ng-invalid.ng-touched {
  border-color: red;
}
input.ng-dirty{
  background-color:#F5F5DC;
}
.change:hover {
  padding: 0px;
  font-size: 24px;
  color: $black;
  font-family:"NHG-W01-75-DspBd";
  &:hover {
    color: $red;
  }
}
.sidenav{
  height:530px;
}