<div class="modal-header">
    <legend><h2>Review</h2></legend>
</div>
<div uib-alert class="alert alert-danger" close="close()" ng-if="disp">
   Please select a PDF file for upload
</div><br/>
<form name="form.reviewForm" ng-submit="" ng-init="getData()" enctype="multipart/form-data" novalidate>

   <div>
       <p><strong>Patient Name: </strong>{{userName}}</p>
       <p><strong>Age  :</strong> {{age}} <strong>Sex :</strong> {{sext}} <strong>Symptoms : </strong>{{symptoms}} <strong>Date :</strong> {{date| date : "MMMM/dd/yyyy : hh:mm:ss"}} </p>
   </div>
        <div class="form-group">
            <label>Review</label><br/>
            <textarea rows="5" cols="50" ng-model="data" ng-minlength="2" ng-maxlength="500" required></textarea>
            <p ng-show="form.reviewForm.data.$error.minlength" class="help-block">Review is too short.</p>
            <p ng-show="form.reviewForm.data.$error.maxlength" class="help-block">Review is too long.</p>
        </div>


    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="form.reviewForm.$invalid" ng-click="submitForm(data)">Save</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</form>