<div class="modal-header">
    <h3>Start a Discussion!</h3>
</div>
<form name="form.reviewForm" ng-submit="submitForm(name,regNum,mail,ptName,age,sex,symp,data)" ng-init="getData()" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="name" class="form-control" ng-model="userName" readonly>
        </div>

        <div class="form-group">
            <label>Registration Number</label>
            <input type="text" name="regNum" class="form-control" ng-model="regNum" readonly>

        </div>
        <div class="form-group">
            <label>Email Address:</label>
            <input type="email" name="email" class="form-control" ng-model="mail" readonly>
        </div>
        <div class="form-group">
            <label>Patient Name</label>
            <input type="text" name="ptName" class="form-control" ng-model="ptName" readonly>

        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" name="age" class="form-control" ng-model="age" readonly>

        </div>
        <div class="form-group">
            <label>Sex</label>
            <input type="text" name="sex" class="form-control" ng-model="sex" readonly>

        </div>
        <div class="form-group">
            <label>Symptoms</label>
            <input type="text" name="symp" class="form-control" ng-model="symp" readonly>

        </div>

        <div class="form-group">
            <label>Review</label><br/>
            <textarea rows="5" cols="50" ng-model="data" ng-minlength="2" ng-maxlength="500" required></textarea>
            <p ng-show="form.reviewForm.data.$error.minlength" class="help-block">Review is too short.</p>
            <p ng-show="form.reviewForm.data.$error.maxlength" class="help-block">Review is too long.</p>
        </div>



    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="form.reviewForm.$invalid">Save</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</form>