<header data-ng-include="'templates/loginHeader.html'" class="navbar-fixed-top"> </header>
<div class="shift" ng-init='vm.getData()'>
<h3 ng-show="vm.disp">Discussion Details :</h3>

<table  class="table table-hover" ng-show="vm.disp"> 
    <thead>
        <th>UserName</th>
        <th>Topic</th>
        <th>Discussion</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="(key,value) in vm.data">
        <td>{{value.userName}}</td>
        <td>{{value.topic}}</td>
        <td>{{value.discussion}}</td>
        <td>{{value.time}}</td>
        <td><button class="btn btn-danger" ng-click="vm.delete(value.topic,value.discussion,value.time)">Delete Discussion</button></td>
        <td>
            <p>
            <table class="table table-hover">
                    <td class="text-success">Replies</td>
                <tr ng-repeat="item in value.reply">
                    
                    <td>{{item.reply}}</td>
                    <td>{{item.from}}</td>
                    <td>{{item.time}}</td>
                </tr>
            </p>
            </table>
        </td>
        
    </tr>
</tbody>
</table>
<h3 ng-show="vm.show">{{vm.empty}}</h3>
</div>