<header data-ng-include="'templates/loginHeader.html'"></header>
<div id="register" class="input-group input-group" ng-init="update.updateData()">
        <h2>Update Information</h2>
        <p>UserName :
            <input type="text" class="form-control" ng-model="update.userName" ng-keypress="update.clear()" ng-blur="verifyUserName()" required/>
            <br/> {{uName}}</p>
        <p>Registration Number :
            <input type="text" class="form-control" ng-model="update.regNum" ng-keypress="update.clear()" ng-blur="update.verifyReg()" readonly/>
            <br/> {{reg}}</p>
        <p>Email:
            <input type="email" class="form-control" ng-model="update.mail" ng-keypress="clear()" ng-blur="update.verifyEmail()" required/>
            <br/> </p>
        <p>Address:</p>
        <span>Street Address  :</span>
        <input type="text" class="form-control" ng-model="update.address" ng-keypress="update.clear()" ng-blur="update.verifyAddr()" required/>
        <br/>
        <span>City :</span>
        <input type="text" class="form-control" ng-model="update.city" ng-keypress="update.clear()" ng-blur="update.verifyCity()" required/>
        <br/>
        <br/>
        <span>State  :</span>
        <select ng-model="update.states" ng-blur="update.verifyState()" ng-options="states as states for states in update.state"></select>
        <br/>
        <p>Zip:
            <input type="text" class="form-control" . ng-blur="update.verifyZip()" ng-model="update.zip" ng-keypress="update.clear()" required/>
            <br/>
        </p>
        <p> Password:
            <input type="password" class="form-control" ng-blur="update.verifyPass()" ng-model="update.password" ng-keypress="update.clear()" required/>
            <br/>
        </p>
        <p> Confirm Password:
            <input type="password1" class="form-control" ng-blur="update.verifyPass1()" ng-model="update.password" ng-keypress="update.clear()" required/>
            <br/>
        </p>
        <button ng-click="update.save()" type="button" class="btn btn-success">Save</button>
        <br/> {{res}}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="../js/module.js"></script>
        <script src="../js/updateCtrl.js"></script>
    </div>