.shift-left{
    float:left;
    width : 250px;
}
.shift-rightt{
    float:right;
    width:80px;
}
.sizing{
    height:780px;
}
.down{
    margin-top:20px;
}

.lapse{
    width:25%;
}
#map{
    float:right;
    width:500px;
    height:500px;
}
#addr{
    float:left;
    width:400px;
    height:500px;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 70px; /* Same as the width of the sidenav */
}

.listDown{
    border : 1px solid $charcoal;
    padding:20px;
    text-align: center;
    background-color: $bg-gray;
    margin:10px;
    display:inline-block;
 
}

.prevHead{
    background-color: $light-gray;
    border : 1px solid $charcoal;
    padding:10px;

}
.prevData{
    text-align:center;
   
  
}
.prevData:hover{
    background-color: $pop-green;
}
.msgs{
    border : 1px solid green;
    padding:50px;

    margin:10px;
}
.msgHead{
    padding:10px;
    margin:-10px;

}
.msgFirstHead{
    padding:2px;
}
.msgCenter{
    text-align: center;
}
.msgButtons{
    float:right;
}