.login-spacing{
    padding :2px;
}
.login{
    width:600px;
    float:left;
    
}
#view{
    float:right;
    width:750px;
}
.shift-right{
    float:right;
    margin-right: 200px;
}
.warn{
    color:red;
}