.choice{
background-color: #F1F1EF;

}
.choiceDiff{
padding : 250px;
border: 1px solid black;
}

.disp {
    font-size: 20px;
    color: $black;

    &:hover {
      color: $red;
      font-size: 32px;
     
    }
    &:active {
      color: $red;
      font-size: 38px;
    
    }
  }
