<header data-ng-include="'templates/header.html'" class="navbar-fixed-top"></header>
<div>


    <div id="register" class="input-group input-group shift">
            <h2 class="text-success">Get Registered</h2>
            <form ng-submit="vm.getRegistered(vm.userName,vm.regNum,vm.mail,vm.address,vm.city,vm.states,vm.zip,vm.password)">
                    <p>UserName :
                            <input type="text" class="form-control" ng-model="vm.userName" ng-keypress="vm.clearUser()" ng-blur="vm.verifyUserName()" required minlength="5"/>
                            <br/> {{vm.uNameErr}}</p>
                        <p>Registration Number :
                            <input type="text" class="form-control" ng-model="vm.regNum" ng-keypress="vm.clearReg()" ng-blur="vm.verifyReg()" required minlength="7" maxlength="7"/>
                            <br/> {{vm.regErr}}</p>
                        <p>Email:
                            <input type="email" class="form-control" ng-model="vm.mail" ng-blur="vm.verifyEmail()" ng-keypress="vm.clearMail()" required />
                            <br/>{{vm.mailErr}} </p>
                        <p>Address:</p>
                        <span>Street Address  :</span>   <input type="text" class="form-control" ng-model="vm.address" ng-blur="vm.checkStreet()" ng-keypress="vm.clearStreet()" minlength="6" required/> <br/><span>{{vm.streetErr}}</span><br/>
                        <span>City :</span>   <input type="text" class="form-control" ng-model="vm.city" minlength="4" ng-blur="vm.verifyCity()" required/> <br/><span>{{vm.cityErr}}</span><br/>
                        <span>State  :</span> <select ng-model="vm.states" ng-options="state as state for state in vm.state" required ng-blur="vm.checkState()" ng-change="vm.clearState()"></select> 
                            <br/> <span>{{vm.verifyState}}</span><br/>
                        <p>Zip:
                            <input type="text" class="form-control". ng-blur="vm.verifyZip()" ng-model="vm.zip" ng-keypress="vm.clearZip()"  required minlength="5" maxlength="5"/>
                            <br/>
                            {{vm.zipErr}}
                        </p>
                        <p> Password:
                            <input type="password" class="form-control" ng-blur="vm.verifyPass()" ng-model="vm.password" ng-keypress="vm.clearPassErr()" required minlength="4"/>
                          
                            <br/>
                            {{vm.passErr}}
                        </p>
                        <p>Confirm  Password:
                                <input type="password" class="form-control" ng-blur="vm.confirmPass()" ng-model="vm.passwordConfirm" ng-keypress="vm.clearPassCErr()" required minlength="4"/>
                                <br/>
                                {{vm.confirmErr}}
                            </p>
                        <button  type="submit" class="btn btn-success">Register!!</button>
                        <br/> 
                        <span>{{vm.data}}</span>
            </form>
        </div>
</div>