<header data-ng-include="'templates/header.html'" class="navbar-fixed-top"></header>
<div class="shift">

    <table class="choice">
        <tr >
            <td class="wid">
              <header data-ng-include="'templates/header.html'" class="navbar-fixed-top"></header>
            <div>

                    <div  class="input-group input-group  login">
                        <h2 class="text-success">View your profile in a few steps</h2>
                    <form name="login" ng-submit="vm.login(vm.regNum,vm.password)">

                                    <div class="well">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">Login</div>
                                            <div class="panel-body">

                                            <!-- Login Form -->


                                            <!-- Username Field -->
                                                <div class="row">
                                                    <div class="form-group">
                                                    <label for="username"><span class="text-danger" style="margin-right:5px;">*</span>Registration Number:</label>
                                                        <div class="input-group well">
                                                                <input type="text" class="form-control" name="regNum" ng-blur=" vm.verifyUser()"  ng-keypress="vm.clearUserErr()" required minlength="7" maxlength="7" ng-model="vm.regNum" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                                                            <span class="input-group-btn">
                                                                <label class="btn btn-success"><span class="glyphicon glyphicon-user" aria-hidden="true"></label>
                                                            </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div ng-messages="login.regNum.$error">
                                                            <p class="warn" ng-message="required">Please enter your registration Number.</p>
                                                            <p class="warn" ng-message="minlength">Please provide a 7 digit Registration Number</p>
                                                            <span class="warn">{{vm.errUser }}</span><br/>
                                                       </div>

                                                </div>

                                                <!-- Content Field -->
                                                <div class="row">
                                                    <div class="form-group col-xs-12">
                                                        <label for="password"><span class="text-danger" style="margin-right:5px;">*</span>Password:</label>
                                                        <div class="input-group well">
                                                                <input type="password" name="password" ng-Change="vm.clear()" required class="form-control" minlength="4"  ng-keypress="vm.clearPassErr()" ng-model="vm.password"  ng-blur=" vm.verifyPass()" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}"><br/>
                                                            <span class="input-group-btn">
                                                                <label class="btn btn-success"><span class="glyphicon glyphicon-lock" aria-hidden="true"></label>
                                                            </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div ng-messages="login.password.$error">
                                                            <p class="warn" ng-message="required">Please enter your password.</p>
                                                            <p class="warn" ng-message="minlength">Your password must be  at least five characters long</p>
                                                            <p class="warn" ng-message="pattern">Your password must be at least one number, one lowercase and one uppercase letter at least four characters long</p>
                                                            <span class="warn">{{vm.PassErr }}</span><br/>
                                                       </div>

                                                </div>

                                                <!-- Login Button -->
                                                <div class="row">
                                                    <div class="form-group col-xs-4">
                                                        <button class="btn btn-success" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <span class="warn">{{vm.err }}</span><br/>


                                                </div>


                                        </div>
                                    </div>


                     </form>
                   </div>

            </div>
            </td>
            <td align="center"><a href="/register"><h3 class="disp">Register</h3></a></td>
        </tr>
    </table>

</div>
